<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/registration">Registration</a></li>           
        </ul>
    </header>
    <h1>
        Hell my fikset
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum praesentium reiciendis nobis 
        repellat quod modi tempora ex rem excepturi. Vero, ipsum ratione?
         Nesciunt illo consequuntur totam asperiores necessitatibus. Pariatur, doloremque.</p>
</body>
</html>